/** 
 * Sizes
 */

a,li,p,body {
  font-size: 18px;
  line-height: 24px;
  font-family: "museo-slab",serif;
  font-style: normal;
  font-weight: 300;
}
h1,
.h1 {
  font-size: 60px;
  line-height: 66px;
  font-family: "museo-sans",sans-serif;
  font-style: normal;
  font-weight: 900;
}
h2,.h2 {
  font-size: 40px;
  line-height: 48px;
}
h3,.h3 {
  margin-left: 4px;
  font-size: 26px;
  line-height: 36px;
}
h4,.h4 {
  font-size: 18px;
  line-height: 30px;
  font-family: "adelle",serif;
  font-style: normal;
  font-weight: 800;
}
.largeCopy {
  font-size: 17px;
  line-height: 24px;
}
.mediumCopy, p, span {
  margin-left: 4px;
  font-size: 19px;
  line-height: 24px;
}
.smallCopy, label {
  font-size: 14px;
  line-height: 18px;
}

.em {
  font-style: italic
}
