/** 
 * Sizes
 */

body {
  font-size: 16px;
  line-height: 24px;
}
h1,
.h1 {
  font-size: 40px;
  line-height: 48px;
}
h2,.h2 {
  font-size: 40px;
  line-height: 48px;
}
h3,.h3 {
  font-size: 26px;
  line-height: 36px;
}
h4,.h4 {
  font-size: 18px;
  line-height: 30px;
}
.largeCopy {
  font-size: 17px;
  line-height: 24px;
}
.mediumCopy, p, span {
  font-size: 15px;
  line-height: 24px;
}
.smallCopy, label {
  font-size: 14px;
  line-height: 18px;
}

/** 
 * Styles
 */

body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}