.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 1px solid black;
  width: 241.59265359px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;
}

.nav-inner {
  margin-top: 40px;
  margin-left: 40px;
}

.nav-title {
  text-transform: uppercase;
  margin-bottom: 20px;
}
